

.Button__root {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  /* background-color: #eee; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.Button__root:hover {
  /* background-color: #ddd; */
}
.Button__small {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}
.Button__disabled {
  margin-top: 4px;
  margin-right: 7px;
  cursor: not-allowed;
}
.Button__disabled:hover {
  background-color: #eee;
}
